body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  border: none;
  overflow-x: hidden;
  font-family: "Pretendard";
}

div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ul,
ol,
hr,
button {
  margin: 0;
  padding: 0;
}

button {
  border: none;
}

a {
  color: unset;
  text-decoration: none;
}

b {
  font-weight: 600;
}

address {
  font-style: unset;
}

@font-face {
  font-family: "Pretendard";
  src: url("/source/font/Pretendard-Thin.otf");
  font-weight: 100;
}
@font-face {
  font-family: "Pretendard";
  src: url("/source/font/Pretendard-ExtraLight.otf");
  font-weight: 200;
}
@font-face {
  font-family: "Pretendard";
  src: url("/source/font/Pretendard-Light.otf");
  font-weight: 300;
}
@font-face {
  font-family: "Pretendard";
  src: url("/source/font/Pretendard-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Pretendard";
  src: url("/source/font/Pretendard-Medium.otf");
  font-weight: 500;
}
@font-face {
  font-family: "Pretendard";
  src: url("/source/font/Pretendard-SemiBold.otf");
  font-weight: 600;
}
@font-face {
  font-family: "Pretendard";
  src: url("/source/font/Pretendard-Bold.otf");
  font-weight: 700;
}
@font-face {
  font-family: "Pretendard";
  src: url("/source/font/Pretendard-ExtraBold.otf");
  font-weight: 800;
}
@font-face {
  font-family: "Pretendard";
  src: url("/source/font/Pretendard-Black.otf");
  font-weight: 900;
}
@font-face {
  font-family: "Crimson";
  src: url("/source/font/CrimsonText-SemiBold.ttf");
}
@font-face {
  font-family: "Nanumsquare";
  src: url("/source/font/NanumSquareB.otf");
}
.footer, .matzipdler, .netflix-learn, .detail-page, .netflix, .work, .cover, .about, .profile, .intro {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  padding: 8%;
  box-sizing: border-box;
}
@media (max-width: 899px) {
  .footer, .matzipdler, .netflix-learn, .detail-page, .netflix, .work, .cover, .about, .profile, .intro {
    padding: 2rem 1.25rem;
  }
}

.netflix-learn__title, .about__title, .profile__title {
  font-size: 3.125rem;
  color: #1b6fff;
}
@media (max-width: 899px) {
  .netflix-learn__title, .about__title, .profile__title {
    font-size: 2rem;
  }
}

.profile__detail2-title, .profile__keyword-title, .profile__skill-title, .profile__edu-title {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #1b6fff;
}
@media (max-width: 899px) {
  .profile__detail2-title, .profile__keyword-title, .profile__skill-title, .profile__edu-title {
    font-size: 1.5rem;
  }
}

.intro {
  align-items: center;
  justify-content: center;
  background-color: #f8f9fa;
}
.intro__layout {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  align-items: center;
  justify-content: center;
  gap: 4.5rem 1.5rem;
  font-size: 3.125rem;
}
@media (max-width: 1279px) {
  .intro__layout {
    width: 80%;
    gap: 2.5rem 1rem;
    font-size: 2rem;
  }
}
.intro__keyword {
  position: relative;
  background-color: #fff;
  padding: 1rem 2rem;
  border: 1px solid #ababab;
  border-radius: 0.5rem;
  box-shadow: 0 4px 16px rgba(44, 44, 44, 0.25);
  font-size: 3.5rem;
  font-weight: 600;
}
@media (max-width: 1279px) {
  .intro__keyword {
    padding: 0.5rem 1rem;
    font-size: 2rem;
  }
}
.intro__keyword::after {
  content: "";
  position: absolute;
  background-image: url("/source/icon/ic_check_primary.svg");
  background-color: white;
  right: -1.5rem;
  top: -1.5rem;
  width: 3.05rem;
  height: 3.05rem;
  border-radius: 50%;
}
@media (max-width: 1279px) {
  .intro__keyword::after {
    background-size: 1.75rem;
    right: -0.85rem;
    top: -0.85rem;
    width: 1.75rem;
    height: 1.75rem;
  }
}

.profile {
  position: relative;
  flex-direction: column;
  border-bottom: 1px solid #f8f9fa;
  height: auto;
}
.profile__layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.5rem;
  margin-top: 4rem;
}
@media (max-width: 1279px) {
  .profile__layout {
    margin-top: 1.5rem;
    row-gap: unset;
  }
}
.profile__bio {
  display: inline-flex;
  flex-direction: column;
  font-size: 1rem;
  font-weight: 200;
  color: #535353;
}
@media (max-width: 1279px) {
  .profile__bio {
    flex-direction: row;
    align-items: flex-end;
  }
}
.profile__bio-img {
  height: 16rem;
  border-radius: 0.5rem;
  border: 1px solid #535353;
}
@media (max-width: 1279px) {
  .profile__bio-img {
    height: 10rem;
  }
}
@media (max-width: 1279px) {
  .profile__bio-content {
    margin-left: 2rem;
  }
}
.profile__bio-name {
  margin: 1.5rem 0 2rem 0;
  font-size: 1.5rem;
  font-weight: 600;
  color: #1b6fff;
}
@media (max-width: 1279px) {
  .profile__bio-name {
    margin: 1rem 0;
    font-size: 1.25rem;
  }
}

.profile__divider {
  border-left: 1px dotted #f8f9fa;
}
@media (max-width: 1279px) {
  .profile__divider {
    width: 100%;
    margin: 1.5rem 0;
    border-left: unset;
    border-bottom: 1px solid #f8f9fa;
  }
}

.profile__detail1 {
  display: inline-flex;
  width: 35%;
  flex-direction: column;
  gap: 3rem;
}
@media (max-width: 1279px) {
  .profile__detail1 {
    width: 80%;
  }
}

.profile__edu-item {
  display: flex;
  justify-content: space-between;
  line-height: 160%;
  color: #535353;
}

.profile__skill-list {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  list-style: none;
}

.profile__keyword-item {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0 0.5rem 0.5rem 0;
  padding: 0.5rem 1rem;
  border-radius: 1.875rem;
  background-color: #f8f9fa;
  color: #1b6fff;
}

@media (max-width: 1279px) {
  .profile__detail2 {
    width: 95%;
  }
}
.profile__work {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  gap: 1rem;
}
.profile__work-date {
  font-size: 1rem;
  font-weight: 300;
  color: #535353;
}
@media (max-width: 1279px) {
  .profile__work-date {
    font-size: 0.875rem;
  }
}
.profile__work-details {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.profile__work-name {
  font-size: 1.125rem;
  font-weight: 500;
}
.profile__work-intro {
  font-size: 0.75rem;
  color: #9d9d9d;
}
@media (max-width: 1279px) {
  .profile__work-task {
    font-size: 0.875rem;
    font-weight: 300;
  }
}

.about {
  flex-direction: column;
  min-height: 100vh;
  height: -moz-fit-content;
  height: fit-content;
}
@media (max-width: 1279px) {
  .about {
    height: -moz-fit-content;
    height: fit-content;
  }
}
.about__subtitle {
  margin-bottom: 8rem;
  font-size: 1.25rem;
  font-weight: 400;
  color: #535353;
}
@media (max-width: 1279px) {
  .about__subtitle {
    width: 70%;
    margin: 0.5rem 0 3rem 0;
    font-size: 1rem;
    word-break: keep-all;
  }
}
.about__list {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem 1.5rem;
}
@media (max-width: 1279px) {
  .about__list {
    gap: 3rem 0;
  }
}

.about__item {
  display: inline-flex;
  width: 47%;
  align-items: flex-start;
  gap: 1rem;
}
@media (max-width: 1279px) {
  .about__item {
    width: 100%;
  }
}
.about__item-ic {
  display: inline-block;
  padding: 1.5rem 2rem;
  background-color: #f8f9fa;
  border-radius: 50%;
  border: 1px solid #ededed;
  font-size: 3rem;
}
@media (max-width: 1279px) {
  .about__item-ic {
    padding: 1rem 1.5rem;
    font-size: 2rem;
  }
}
.about__item-title {
  display: inline-block;
  margin-bottom: 0.75rem;
  padding: 0.5rem 1rem;
  background-color: #1b6fff;
  border-radius: 2rem;
  font-size: 1.25rem;
  font-weight: 400;
  color: #fff;
}
@media (max-width: 1279px) {
  .about__item-title {
    font-size: 1rem;
  }
}
.about__item-subtitle {
  width: 80%;
  word-break: keep-all;
  line-height: 1.25rem;
  font-size: 1rem;
  color: #535353;
}
@media (max-width: 1279px) {
  .about__item-subtitle {
    width: 90%;
    font-size: 0.875rem;
  }
}

.cover {
  flex-direction: column;
  justify-content: center;
  background-color: #f8f9fa;
}
.cover__circle {
  background-color: #1b6fff;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
}
.cover__title {
  font-size: 5rem;
  letter-spacing: 1rem;
  color: #535353;
}
@media (max-width: 1279px) {
  .cover__title {
    font-size: 2.5rem;
  }
}

.work {
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: #000;
}
@media (max-width: 1279px) {
  .work {
    flex-direction: column;
    justify-content: flex-start;
    gap: 3rem;
    overflow-y: hidden;
  }
}
.work__text-content {
  width: 40%;
}
@media (max-width: 1279px) {
  .work__text-content {
    width: 95%;
  }
}
.work__emoji {
  font-size: 4.8rem;
}
.work__name {
  margin-bottom: 1.5rem;
  font-family: "Nanumsquare", "Pretendard";
  font-size: 2.5rem;
  color: #fc2d7c;
}
@media (max-width: 1279px) {
  .work__name {
    font-size: 1.875rem;
  }
}
.work__subtitle {
  margin: 3.125rem 0 0.5rem 0;
  font-family: "Crimson", "Pretendard";
  font-weight: 800;
  font-size: 1.5rem;
  color: #fc2d7c;
}
.work__text {
  font-size: 1rem;
}
.work__list {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin: 1rem 0 0 1rem;
  word-break: keep-all;
  font-size: 1rem;
}
.work__skills {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}
.work__skill {
  height: 2rem;
}
.work__skill img {
  height: 100%;
}
.work__img-content {
  display: flex;
  width: 50%;
  height: 100vh;
  gap: 2rem;
}
@media (max-width: 1279px) {
  .work__img-content {
    width: 95%;
    gap: unset;
    justify-content: space-between;
  }
}
.work__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
@media (max-width: 1279px) {
  .work__img {
    width: 50%;
  }
}
@media (max-width: 1279px) {
  .work {
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media (max-width: 1279px) {
  .work__img-content {
    height: -moz-fit-content;
    height: fit-content;
  }
}
.work__img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
@media (max-width: 1279px) {
  .work__img {
    -o-object-position: top;
       object-position: top;
  }
}

.netflix {
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  color: #fff;
}
@media (max-width: 1279px) {
  .netflix {
    flex-direction: column;
    justify-content: flex-start;
    gap: 3rem;
    overflow-y: hidden;
  }
}
.netflix__text-content {
  width: 40%;
}
@media (max-width: 1279px) {
  .netflix__text-content {
    width: 95%;
  }
}
.netflix__emoji {
  font-size: 4.8rem;
}
.netflix__name {
  margin-bottom: 1.5rem;
  font-family: "Nanumsquare", "Pretendard";
  font-size: 2.5rem;
  color: #e50914;
}
@media (max-width: 1279px) {
  .netflix__name {
    font-size: 1.875rem;
  }
}
.netflix__subtitle {
  margin: 3.125rem 0 0.5rem 0;
  font-family: "Crimson", "Pretendard";
  font-weight: 800;
  font-size: 1.5rem;
  color: #e50914;
}
.netflix__text {
  font-size: 1rem;
}
.netflix__list {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin: 1rem 0 0 1rem;
  word-break: keep-all;
  font-size: 1rem;
}
.netflix__skills {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}
.netflix__skill {
  height: 2rem;
}
.netflix__skill img {
  height: 100%;
}
.netflix__img-content {
  display: flex;
  width: 50%;
  height: 100vh;
  gap: 2rem;
}
@media (max-width: 1279px) {
  .netflix__img-content {
    width: 95%;
    gap: unset;
    justify-content: space-between;
  }
}
.netflix__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
@media (max-width: 1279px) {
  .netflix__img {
    width: 50%;
  }
}
.netflix__btn-content {
  margin-top: 2.5rem;
}
.netflix__btn {
  margin-right: 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid #fff;
  border-radius: 1rem;
  background-color: #000;
  color: #fff;
}
.netflix__btn:visited {
  color: #fff;
}
.netflix__ic-site, .netflix__ic-github {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  vertical-align: middle;
}
.netflix__ic-site {
  background-image: url("/source/icon/ic_website.svg");
}
.netflix__ic-github {
  background-image: url("/source/icon/ic_github.svg");
}
@media (max-width: 1279px) {
  .netflix__img-content {
    height: -moz-fit-content;
    height: fit-content;
  }
}
.netflix__img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
@media (max-width: 1279px) {
  .netflix__img {
    -o-object-position: top;
       object-position: top;
  }
}

.detail-page {
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: #000;
}
@media (max-width: 1279px) {
  .detail-page {
    flex-direction: column;
    justify-content: flex-start;
    gap: 3rem;
    overflow-y: hidden;
  }
}
.detail-page__text-content {
  width: 40%;
}
@media (max-width: 1279px) {
  .detail-page__text-content {
    width: 95%;
  }
}
.detail-page__emoji {
  font-size: 4.8rem;
}
.detail-page__name {
  margin-bottom: 1.5rem;
  font-family: "Nanumsquare", "Pretendard";
  font-size: 2.5rem;
  color: #000;
}
@media (max-width: 1279px) {
  .detail-page__name {
    font-size: 1.875rem;
  }
}
.detail-page__subtitle {
  margin: 3.125rem 0 0.5rem 0;
  font-family: "Crimson", "Pretendard";
  font-weight: 800;
  font-size: 1.5rem;
  color: #000;
}
.detail-page__text {
  font-size: 1rem;
}
.detail-page__list {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin: 1rem 0 0 1rem;
  word-break: keep-all;
  font-size: 1rem;
}
.detail-page__skills {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}
.detail-page__skill {
  height: 2rem;
}
.detail-page__skill img {
  height: 100%;
}
.detail-page__img-content {
  display: flex;
  width: 50%;
  height: 100vh;
  gap: 2rem;
}
@media (max-width: 1279px) {
  .detail-page__img-content {
    width: 95%;
    gap: unset;
    justify-content: space-between;
  }
}
.detail-page__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
@media (max-width: 1279px) {
  .detail-page__img {
    width: 50%;
  }
}
.detail-page__img {
  cursor: pointer;
}
@media (max-width: 1279px) {
  .detail-page__img {
    width: 30%;
  }
}

.netflix-learn {
  flex-direction: column;
  justify-content: flex-start;
  background-color: #000;
  border-top: 1px solid #f8f9fa;
  color: #fff;
}
.netflix-learn__title {
  color: #e50914;
}
.netflix-learn__content-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3rem;
}
.netflix-learn__content {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  width: 30%;
  gap: 1rem;
}
.netflix-learn__ic {
  display: flex;
  width: 8rem;
  height: 8rem;
  justify-content: center;
  align-items: center;
  border: 2px dotted #fff;
  border-radius: 50%;
}
.netflix-learn__img {
  width: 50%;
}
.netflix-learn__subtitle {
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  background-color: #fff;
  font-size: 1.5rem;
  color: #000;
}
.netflix-learn__text {
  margin-bottom: 0.75rem;
  line-height: 1.5rem;
  word-break: keep-all;
}

.matzipdler {
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #ffc23f;
  color: #000;
}
@media (max-width: 1279px) {
  .matzipdler {
    flex-direction: column;
    justify-content: flex-start;
    gap: 3rem;
    overflow-y: hidden;
  }
}
.matzipdler__text-content {
  width: 40%;
}
@media (max-width: 1279px) {
  .matzipdler__text-content {
    width: 95%;
  }
}
.matzipdler__emoji {
  font-size: 4.8rem;
}
.matzipdler__name {
  margin-bottom: 1.5rem;
  font-family: "Nanumsquare", "Pretendard";
  font-size: 2.5rem;
  color: #fff;
}
@media (max-width: 1279px) {
  .matzipdler__name {
    font-size: 1.875rem;
  }
}
.matzipdler__subtitle {
  margin: 3.125rem 0 0.5rem 0;
  font-family: "Crimson", "Pretendard";
  font-weight: 800;
  font-size: 1.5rem;
  color: #fff;
}
.matzipdler__text {
  font-size: 1rem;
}
.matzipdler__list {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin: 1rem 0 0 1rem;
  word-break: keep-all;
  font-size: 1rem;
}
.matzipdler__skills {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}
.matzipdler__skill {
  height: 2rem;
}
.matzipdler__skill img {
  height: 100%;
}
.matzipdler__img-content {
  display: flex;
  width: 50%;
  height: 100vh;
  gap: 2rem;
}
@media (max-width: 1279px) {
  .matzipdler__img-content {
    width: 95%;
    gap: unset;
    justify-content: space-between;
  }
}
.matzipdler__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
@media (max-width: 1279px) {
  .matzipdler__img {
    width: 50%;
  }
}
@media (max-width: 1279px) {
  .matzipdler__img-content {
    height: -moz-fit-content;
    height: fit-content;
  }
}
.matzipdler__img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  width: 100%;
}
@media (max-width: 1279px) {
  .matzipdler__img {
    width: 40%;
    -o-object-position: top;
       object-position: top;
  }
}

.footer {
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
}
.footer__text {
  font-size: 2.25rem;
  line-height: 160%;
  text-align: center;
  word-break: keep-all;
  color: #535353;
}
@media (min-width: 900px) and (max-width: 1279px) {
  .footer__text {
    font-size: 1.5rem;
  }
}
@media (max-width: 899px) {
  .footer__text {
    font-size: 1.25rem;
  }
}
.footer__text-highlight {
  font-weight: 600;
  color: #1b6fff;
}
.footer__contact {
  display: flex;
  position: absolute;
  flex-direction: column;
  bottom: 6rem;
  text-align: center;
}
.footer__contact-name {
  padding-bottom: 1rem;
  font-family: "Playfair", "Pretendard";
  font-size: 2rem;
}
@media (max-width: 899px) {
  .footer__contact-name {
    font-size: 1.25rem;
  }
}
.footer__contact-item {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
}