@font-face {
  font-family: "Pretendard";
  src: url("/source/font/Pretendard-Thin.otf");
  font-weight: 100;
}

@font-face {
  font-family: "Pretendard";
  src: url("/source/font/Pretendard-ExtraLight.otf");
  font-weight: 200;
}

@font-face {
  font-family: "Pretendard";
  src: url("/source/font/Pretendard-Light.otf");
  font-weight: 300;
}

@font-face {
  font-family: "Pretendard";
  src: url("/source/font/Pretendard-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Pretendard";
  src: url("/source/font/Pretendard-Medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: "Pretendard";
  src: url("/source/font/Pretendard-SemiBold.otf");
  font-weight: 600;
}

@font-face {
  font-family: "Pretendard";
  src: url("/source/font/Pretendard-Bold.otf");
  font-weight: 700;
}

@font-face {
  font-family: "Pretendard";
  src: url("/source/font/Pretendard-ExtraBold.otf");
  font-weight: 800;
}

@font-face {
  font-family: "Pretendard";
  src: url("/source/font/Pretendard-Black.otf");
  font-weight: 900;
}

@font-face {
  font-family: "Maruburi";
  src: url("/source/font/MaruBuri-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Maruburi";
  src: url("/source/font/MaruBuri-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Maruburi";
  src: url("/source/font/MaruBuri-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Playfair";
  src: url("/source/font/PlayfairDisplay-SemiBold.ttf");
}
