@use "variables" as *;

@mixin mobile {
  @media (max-width: #{$breakpoint-tablet - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop - 1px}) {
    @content;
  }
}

@mixin mobile-tablet {
  @media (max-width: #{$breakpoint-desktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}

@mixin work-item($color: #000, $highlight-color: #000, $background: #fff) {
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: $background;
  color: $color;

  @include mobile-tablet {
    flex-direction: column;
    justify-content: flex-start;
    gap: 3rem;
    overflow-y: hidden;
  }

  &__text-content {
    width: 40%;

    @include mobile-tablet {
      width: 95%;
    }
  }

  &__emoji {
    font-size: 4.8rem;
  }

  &__name {
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    color: $highlight-color;

    @include mobile-tablet {
      font-size: 1.875rem;
    }
  }

  &__subtitle {
    margin: 3.125rem 0 0.5rem 0;
    font-family: "Maruburi", "Pretendard";
    font-weight: 800;
    font-size: 1.5rem;
    color: $highlight-color;
  }

  &__text {
    font-size: 1rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-left: 1rem;
    word-break: keep-all;
    font-size: 1rem;
  }

  &__img-content {
    display: flex;
    width: 50%;
    height: 100vh;
    gap: 2rem;

    @include mobile-tablet {
      width: 95%;
      gap: unset;
      justify-content: space-between;
    }
  }

  &__img {
    width: 100%;

    @include mobile-tablet {
      width: 30%;
      object-fit: cover;
      object-position: top;
    }
  }
}
