@use "variables" as *;
@use "mixin" as *;
@use "font";

%section-layout {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  padding: 8%;
  box-sizing: border-box;

  @include mobile {
    padding: 2rem 1.75rem;
  }
}

%section-title {
  font-size: 3.125rem;
  color: $primary;

  @include mobile {
    font-size: 2rem;
  }
}

%section-subtitle {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: $primary;

  @include mobile {
    font-size: 1.5rem;
  }
}

//intro
.intro {
  @extend %section-layout;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $bright-gray;

  &__layout {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    @include mobile-tablet {
      width: 100%;
      gap: 2.5rem;
    }
  }

  &__folders {
    display: flex;
    position: relative;
    width: fit-content;
    height: fit-content;
    gap: 3rem;
    padding: 1rem 1.5rem 1.5rem;
    z-index: 2;

    @include mobile-tablet {
      width: 100%;
      flex-wrap: wrap;
      padding: 1rem;
      justify-content: center;
      align-items: center;
    }
  }

  &__bg {
    position: absolute;
    width: 20%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(208, 204, 204, 60%);
    border: 1px dotted #9d9d9d;
  }

  &__cursor {
    position: absolute;
    right: -1.5rem;
    bottom: -3.5rem;
    z-index: 5;
  }

  &__folder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include mobile-tablet {
      width: 40%;
    }
  }

  &__img {
    width: 100%;
  }

  &__folder-name {
    max-width: 110%;
    font-size: 1.25rem;
    font-weight: 500;
  }

  &__text {
    font-weight: 100;
    font-size: 2.5rem;
    text-align: center;

    @include mobile-tablet {
      font-size: 0.75rem;
    }
  }

  &__text--highlight {
    font-family: "Nanumsquare";
    font-weight: 700;
    font-size: 3.25rem;

    @include mobile-tablet {
      font-size: 2rem;
    }
  }

  &__scroll {
    position: absolute;
    bottom: 3rem;
    opacity: 0.5;

    @include mobile-tablet {
      bottom: 1rem;
    }
  }

  &__totop-btn {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    padding: 1rem;
    border-radius: 50%;
    border: 1px solid $bright-gray;
    background-color: $white;
    box-shadow: 1px 2px 8px #0808082b;
    cursor: pointer;
    z-index: 10;
  }
}

//profile
.profile {
  @extend %section-layout;
  position: relative;
  flex-direction: column;
  border-bottom: 1px solid $bright-gray;
  height: auto;

  &__layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.5rem;
    margin-top: 4rem;

    @include mobile-tablet {
      margin-top: 1.5rem;
      row-gap: unset;
    }
  }

  &__title {
    @extend %section-title;
  }
}

.profile__bio {
  display: inline-flex;
  flex-direction: column;
  font-size: 1rem;
  font-weight: 200;
  color: $dark-gray;

  @include mobile-tablet {
    flex-direction: row;
    align-items: flex-end;
  }

  &-img {
    height: 16rem;
    border-radius: 0.5rem;
    border: 1px solid $dark-gray;

    @include mobile-tablet {
      height: 10rem;
    }
  }

  &-content {
    @include mobile-tablet {
      margin-left: 2rem;
    }
  }

  &-name {
    margin: 1.5rem 0 2rem 0;
    font-size: 1.5rem;
    font-weight: 600;
    color: $primary;

    @include mobile-tablet {
      margin: 1rem 0;
      font-size: 1.25rem;
    }
  }
}

.profile__divider {
  border-left: 1px dotted $bright-gray;

  @include mobile-tablet {
    width: 100%;
    margin: 1.5rem 0;
    border-left: unset;
    border-bottom: 1px solid $bright-gray;
  }
}

.profile__detail1 {
  display: inline-flex;
  width: 35%;
  flex-direction: column;
  gap: 3rem;

  @include mobile-tablet {
    width: 80%;
  }
}

.profile__edu {
  &-title {
    @extend %section-subtitle;
  }

  &-item {
    display: flex;
    justify-content: space-between;
    line-height: 160%;
    color: $dark-gray;
  }
}

.profile__skill {
  &-title {
    @extend %section-subtitle;
  }

  &-list {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    list-style: none;
  }
}

.profile__keyword {
  &-title {
    @extend %section-subtitle;
  }

  &-item {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 0 0.5rem 0.5rem 0;
    padding: 0.5rem 1rem;
    border-radius: 1.875rem;
    background-color: $bright-gray;
    color: $primary;
  }
}

.profile__detail2 {
  @include mobile-tablet {
    width: 95%;
  }

  &-title {
    @extend %section-subtitle;
  }
}

.profile__work {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  gap: 1rem;

  &-date {
    font-size: 1rem;
    font-weight: 300;
    color: $dark-gray;

    @include mobile-tablet {
      font-size: 0.875rem;
    }
  }

  &-details {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  &-name {
    font-size: 1.125rem;
    font-weight: 500;
  }

  &-intro {
    font-size: 0.75rem;
    color: #9d9d9d;
  }

  &-task {
    @include mobile-tablet {
      font-size: 0.875rem;
      font-weight: 300;
    }
  }
}

//work
.work {
  @extend %section-layout;
  @include work-item(#000, #fc2d7c, #fff);
  @include mobile-tablet {
    height: fit-content;
  }

  &__img-content {
    @include mobile-tablet {
      height: fit-content;
    }
  }

  &__img {
    object-fit: contain;
    object-position: center;
    @include mobile-tablet {
      object-position: top;
    }
  }
}

//netflix
.netflix {
  @extend %section-layout;
  @include work-item(#fff, #e50914, #000);

  &__btn-content {
    margin-top: 2.5rem;
  }

  &__btn {
    margin-right: 0.5rem;
    padding: 0.5rem 1rem;
    border: 1px solid $white;
    border-radius: 1rem;
    background-color: $black;
    color: $white;

    &:visited {
      color: $white;
    }
  }

  &__ic-site,
  &__ic-github {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
    vertical-align: middle;
  }

  &__ic-site {
    background-image: url("/source/icon/ic_website.svg");
  }

  &__ic-github {
    background-image: url("/source/icon/ic_github.svg");
  }

  &__img-content {
    @include mobile-tablet {
      height: fit-content;
    }
  }

  &__img {
    object-fit: contain;
    object-position: center;
    @include mobile-tablet {
      object-position: top;
    }
  }
}

//detail-page
.detail-page {
  @extend %section-layout;
  @include work-item($black, $black, $white);

  &__img {
    cursor: url("/source/icon/ic_click_primary.svg"), pointer;

    @include mobile-tablet {
      width: 30%;
    }
  }
}

//netflix-learn
.netflix-learn {
  @extend %section-layout;
  flex-direction: column;
  justify-content: flex-start;
  background-color: $black;
  border-top: 1px solid $bright-gray;
  color: $white;

  @include mobile-tablet {
    height: fit-content;
  }

  &__title {
    @extend %section-title;
    color: #e50914;
  }

  &__content-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3rem;

    @include mobile-tablet {
      flex-direction: column;
      gap: 3rem;
    }
  }

  &__content {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    width: 30%;
    gap: 1rem;

    @include mobile-tablet {
      width: 90%;
      align-items: flex-start;
    }
  }

  &__ic {
    display: flex;
    width: 8rem;
    height: 8rem;
    justify-content: center;
    align-items: center;
    border: 2px dotted $white;
    border-radius: 50%;

    @include mobile-tablet {
      width: 6rem;
      height: 6rem;
    }
  }

  &__img {
    width: 50%;
  }

  &__subtitle {
    padding: 0.5rem 1rem;
    border-radius: 0.75rem;
    background-color: $white;
    font-size: 1.5rem;
    color: $black;

    @include mobile-tablet {
      font-size: 1.25rem;
    }
  }

  &__list {
    padding-left: 1rem;
  }

  &__text {
    margin-bottom: 0.75rem;
    line-height: 1.5rem;
    word-break: keep-all;
  }
}

//matzipdler
.matzipdler {
  @extend %section-layout;
  @include work-item($black, $white, #ffc23f);

  &__img-content {
    @include mobile-tablet {
      height: fit-content;
    }
  }

  &__img {
    object-fit: contain;
    object-position: center;
    width: 100%;

    @include mobile-tablet {
      width: 40%;
      object-position: top;
    }
  }
}

//about-process
.about-process {
  @extend %section-layout;
  flex-direction: column;
  border-top: 1px solid $bright-gray;
  border-bottom: 1px solid $bright-gray;

  @include mobile-tablet {
    min-height: 100vh;
    height: fit-content;
  }

  &__title {
    @extend %section-title;
  }

  &__subtitle {
    margin-bottom: 15rem;
    font-size: 1.25rem;
    font-weight: 400;
    color: $dark-gray;

    @include mobile-tablet {
      width: 70%;
      margin: 0.5rem 0 3rem 0;
      font-size: 1rem;
      word-break: keep-all;
    }
  }

  &__list {
    display: flex;
    position: relative;
    height: 100%;
    justify-content: space-between;
    align-items: flex-start;

    @include mobile-tablet {
      flex-direction: column;
      height: fit-content;
    }
  }

  &__line {
    position: absolute;
    top: 1.5rem;
    width: 100%;
    border-bottom: 1px solid $primary;
    z-index: -1;

    @include mobile-tablet {
      width: 1px;
      height: 100%;
      left: 1.125rem;
      border-left: 1px solid $primary;
    }
  }

  &__ic {
    display: inline-flex;
    width: 3.25rem;
    height: 3.25rem;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: $primary;
    font-size: 1.5rem;
    color: $white;

    @include mobile-tablet {
      width: 2.5rem;
      height: 2.5rem;
      font-size: 1.25rem;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 0.75rem;

    @include mobile-tablet {
      width: 85%;
    }
  }

  &__name {
    font-size: 1.5rem;
    color: $primary;

    @include mobile-tablet {
      position: relative;
      left: 3.5rem;
      bottom: 3rem;
      font-size: 1.25rem;
    }
  }

  &__text {
    font-size: 1rem;
    line-height: 1.5rem;
    color: $dark-gray;

    @include mobile-tablet {
      position: relative;
      left: 3.5rem;
      bottom: 3rem;
    }
  }
}

//about
.about {
  @extend %section-layout;
  flex-direction: column;
  min-height: 100vh;
  height: fit-content;

  @include mobile-tablet {
    height: fit-content;
  }

  &__title {
    @extend %section-title;
  }

  &__subtitle {
    margin-bottom: 8rem;
    font-size: 1.25rem;
    font-weight: 400;
    color: $dark-gray;

    @include mobile-tablet {
      width: 70%;
      margin: 0.5rem 0 3rem 0;
      font-size: 1rem;
      word-break: keep-all;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem 1.5rem;

    @include mobile-tablet {
      gap: 3rem 0;
    }
  }
}

.about__item {
  display: inline-flex;
  width: 47%;
  align-items: flex-start;
  gap: 1rem;

  @include mobile-tablet {
    width: 100%;
  }

  &-ic {
    display: inline-block;
    padding: 1.5rem 2rem;
    background-color: $bright-gray;
    border-radius: 50%;
    border: 1px solid #ededed;
    font-size: 3rem;

    @include mobile-tablet {
      padding: 1rem 1.5rem;
      font-size: 2rem;
    }
  }

  &-title {
    display: inline-block;
    margin-bottom: 0.75rem;
    padding: 0.5rem 1rem;
    background-color: $primary;
    border-radius: 2rem;
    font-size: 1.25rem;
    font-weight: 400;
    color: $white;

    @include mobile-tablet {
      font-size: 1rem;
    }
  }

  &-subtitle {
    width: 80%;
    word-break: keep-all;
    line-height: 1.25rem;
    font-size: 1rem;
    color: $dark-gray;

    @include mobile-tablet {
      width: 90%;
      font-size: 0.875rem;
    }
  }
}

//cover
.cover {
  @extend %section-layout;
  flex-direction: column;
  justify-content: center;
  background-color: $bright-gray;

  &__circle {
    background-color: $primary;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
  }

  &__title {
    font-size: 5rem;
    letter-spacing: 1rem;
    color: $dark-gray;

    @include mobile-tablet {
      font-size: 2.5rem;
    }
  }
}

//footer
.footer {
  @extend %section-layout;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: $bright-gray;

  &__text {
    font-size: 2.25rem;
    line-height: 160%;
    text-align: center;
    word-break: keep-all;
    color: $dark-gray;

    @include tablet {
      font-size: 1.5rem;
    }

    @include mobile {
      font-size: 1.25rem;
    }
  }

  &__text-highlight {
    font-weight: 600;
    color: $primary;
  }

  &__contact {
    display: flex;
    position: absolute;
    flex-direction: column;
    bottom: 6rem;
    text-align: center;

    &-name {
      padding-bottom: 1rem;
      font-family: "Playfair", "Pretendard";
      font-size: 2rem;

      @include mobile {
        font-size: 1.25rem;
      }
    }

    &-item {
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.5rem;
    }
  }
}
