//BREAK-POINT
$breakpoint-mobile: 480px;
$breakpoint-tablet: 900px;
$breakpoint-desktop: 1280px;

//COLOR
$primary: #1b6fff;
$bright-gray: #f8f9fa;
$dark-gray: #535353;
$orange: #ffac3d;
$mint: #79eff9;
$purple: #c2ccff;
$black: #000;
$white: #fff;
